html { box-sizing: border-box }
*,
*:before,
*:after { box-sizing: inherit }
body {
  font-family: 'Karla', sans-serif;
  line-height: 1.5
}
::-moz-selection { background: #000; color: #fff }
::selection      { background: #000; color: #fff }
a {
  color: #DDFF33;
  text-decoration: none;
  box-shadow: 0 2px 0;
  font-weight: bold;
}
a:hover { color: #FF3377 }
.hero,
.about,
.calltoaction,
.foot {
  position: relative;
  padding: 12vh 1.5rem 24vh
}
.width-wrapper {
  max-width: 650px;
  margin: 0 auto;
}
.about::before,
.foot:before {
  content: "";
  display: block;
  height: 10vh;
  position: absolute;
  top: -9.8vh;
  left: 0;
	width: 0;
	height: 0;
	border-bottom: 10vh solid #fff;
	border-left: 100vw solid transparent
}
.about::before { border-bottom: 10vh solid #5634fe }
.calltoaction::before {
  content: "";
  display: block;
  height: 10vh;
  position: absolute;
  top: -9.8vh;
  left: 0;
	width: 0;
	height: 0;
	border-right: 100vw solid transparent;
  border-bottom: 10vh solid #6543FF
}
.hero {
  background: url(../img/logo.jpg) center center no-repeat;
  background-size: 57vmin;
  min-height: 95vh
}
.about {
  background: #5634fe;
  color: #fff;
}
.about > div > h1 { margin-bottom: 4.75rem }
.persons {
  max-width: 1020px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between
}
.person { width: 30% }
.person p { margin-bottom: 2.25rem }
.calltoaction {
  background: #6543FF;
  color: white;
  padding-bottom: 26vh
}
.btn {
  display: inline-block;
  margin-top: 2rem;
  background: #fff;
  color: #5634fe;
  padding: 1.2em 2.1em 1.1em;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: .9em;
  box-shadow: 5px 5px 0 #DDFF33;
}
.btn:hover { box-shadow: 5px 5px 0 #FF3377 }
.foot {
  font-size: .9em;
  text-align: center;
  padding: 4vh 1.5rem 8vh;
  color: #5634fe;
  text-transform: uppercase;
  letter-spacing: .15em
}
@media screen and (max-width: 750px) {
  html { font-size: 85% }
  .persons { display: block }
  .person { min-width: 100% }
}
