html { box-sizing: border-box }

*,
*:before,
*:after { box-sizing: inherit }

body {
  line-height: 1.8;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;

  min-height: 100vh;
  background: #572CFE;
  color: white;
}

::selection      { background: #3FD; color: #572CFE }
::-moz-selection { background: #3FD; color: #572CFE }

a {
  color: #33FEDA;
  text-decoration: none;
  box-shadow: 0 .1em 0;
}

.logo {
  width: 17em;
  max-width: 100%;
  margin: 2em 0 3em;
}

.bio {
  padding: 0 1.5rem;
  max-width: 850px;
  margin: 0 auto;
}

.bio-text {
  font-weight: normal;
  font-size: 1.8rem;
}

.foot {
  padding: 3em 0;
  text-align: center;
  font-size: 1.2rem;
  opacity: .4;
  text-transform: uppercase;
  letter-spacing: .2em;
}

@media screen and (max-width: 600px) { html { font-size: 73% } }
