html { box-sizing: border-box }
*,
*:before,
*:after { box-sizing: inherit }
body {
  font-family: 'Karla', sans-serif;
  line-height: 1.5
}
::-moz-selection { background: #000; color: #fff }
::selection      { background: #000; color: #fff }
a {
  color: #DDFF33;
  text-decoration: none;
  box-shadow: 0 2px 0;
  font-weight: bold;
}
a:hover { color: #FF3377 }
.hero,
.about,
.calltoaction,
.foot {
  position: relative;
  padding: 12vh 1.5rem 24vh
}
.width-wrapper {
  max-width: 650px;
  margin: 0 auto;
}
.about::before,
.foot:before {
  content: "";
  display: block;
  height: 10vh;
  position: absolute;
  top: -9.85vh;
  left: 0;
	width: 0;
	height: 0;
	border-bottom: 10vh solid #fff;
	border-left: 100vw solid transparent
}
.about::before { border-bottom: 10vh solid #5634fe }
.calltoaction::before {
  content: "";
  display: block;
  height: 10vh;
  position: absolute;
  top: -9.85vh;
  left: 0;
	width: 0;
	height: 0;
	border-right: 100vw solid transparent;
  border-bottom: 10vh solid #6555ff
}
.hero {
  background: url(../img/logo.png) center center no-repeat;
  background-size: 60vmin;
  min-height: 95vh
}
.v video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}
.v::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255,255,255,.9);
  background: -moz-linear-gradient(top left, rgba(255,255,255,.9) 67%, rgba(221,255,51,1) 100%);
  background: -webkit-linear-gradient(top left, rgba(255,255,255,.9) 67%, rgba(221,255,51,1) 100%);
  background: linear-gradient(bottom right, rgba(255,255,255,.9) 67%, rgba(221,255,51,1) 100%);
}
.about {
  background: #5634fe;
  color: #fff;
}
.about > div > h1 { margin-bottom: 4.75rem }
.persons {
  max-width: 1020px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between
}
.person { width: 30% }
.person p { margin-bottom: 2.25rem }
.calltoaction {
  background: #6555ff;
  color: white;
  padding-bottom: 26vh
}
.btn {
  display: block;
  margin-top: 2rem;
  background: #fff;
  color: #5634fe;
  padding: 1.2em 2.22em 1.05em;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: .9em;
  box-shadow: 5px 5px 0 #DDFF33;
}
.btn:hover { box-shadow: 5px 5px 0 #FF3377 }
.foot {
  font-size: .9em;
  text-align: center;
  padding: 4vh 1.5rem 8vh;
  color: #5634fe;
  text-transform: uppercase;
  letter-spacing: .15em;
  background: #fff
}
.foot > a {
  color: inherit;
  font-weight: normal;
}
.foot > a:hover { color: #FF3377 }
@media screen and (max-width: 750px) {
  html { font-size: 85% }
  .persons { display: block }
  .person { min-width: 100% }
  .btn { padding: 2.3em 1.4em 2.1em }
}
@media screen and (max-width: 380px) {
  .btn > span { display: none }
}
